p {
    color: white;
}

form {
    text-align: center;
    color: white;
}

div > p {
    text-align: center;
    word-wrap: break-word;
}

Select {
    size: 30%;
}

button {
    background-color: #3488d6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.btnContainer {
    justify-content: center;
    align-items: center;
}

a {
    color: hotpink;
}